<div class="container" style="background-color: #F5F5DC">
	<div class="container shadow">
		<div class="row">	
			<h4>Description: <span style="color: grey"><%= @car.description %></span></h4>
		</div>
		<hr class="small">
		<div class="row">
			<h4>Price: $<span style="color: grey"><%= @car.price %></span></h4>
		</div>
		<hr class="small">
		<div class="row">
			<h4>Car Condition: <span style="color: grey"><%= @car.condition %></span></h4>
		</div>
	</div>	
</div>
