<div class="container">
  <div class="row">
    <div class="col-md-12">
      <p style="font-size: 200%">Edit Car</p> 
      <%= render 'form' %>
      <button type="submit" id="submit" class="btn btn-primary"><%= link_to '', cars_path %>Back</button> 
      <button type="submit" id="submit" class="btn btn-primary"><%= link_to '', @car %>Show</button>
    </div>
  </div>    	
</div> 