<form role="form">
  <div class="container">
    <div class="col-10">
      <p id="notice"><%= notice %></p>
    </div>
      
    <h1>Listing Cars</h1><br/>

       <% if current_user %>
        <div class="form-group">
          <div class="col-10">
            <a class="btn btn-primary" href="<%= new_car_path %>" role="button">Add New Car</a>
          </div>
        </div>
      <% else %>
       <h3>Please Log In before trying to make changes</h3>
      <% end %> 

      <div class="row">
        <% @cars.each do |car| %>
          <div class="col-md-4">
            <a class="thumbnail" href=" <%= car_path(car) %>"><img class="img-responsive"><%= image_tag car.image.url(:medium), height: "80%", width: "90%" %></a>
          </div>
        <% end %>
      </div></br>
 
</form>
 
