<div class="container">
  <div class="col-10">
    <p style="font-size: 200%">New Car</p>
     
    <%= render 'form' %>
    
    <div class="col-1 col-md-offset-1">
     	<a class="btn btn-primary" href="<%= root_path %>" role="button">Back</a>
    </div>	
  </div>
</div>    
